.tag-management-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 200px;
  margin-top: 30px;
}

.tag-management-input {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.tag-management-input input {
  width: 150px;
  margin-right: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 30px;
}

.tag-management-input button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
}

.tag-management-input button:hover {
  background-color: #0056b3;
}

.tag-list-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.tag {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 5px 10px;
  margin-bottom: 5px;
}

.tag:hover {
  background-color: #0056b3;
  cursor: pointer;
}
