

.tags-container {
  display: flex;
  gap: 0px; /* Adjust the gap as needed */
  align-items: flex-start; /* Align tags to the left */
  width: 75%; /* Remove fixed width to allow dynamic width */
  margin-right: 10px; /* Adjust the margin as needed */
}

.tags-container input {
  flex-grow: 1;
  padding: 4px;
  margin-right: 8px;
  border: 1px solid #ccc;
}

.calendar-container input{
  width: 250px !important;
  margin-right: 20px;
}

body{
  background-color: blanchedalmond;
}

