.calendar-container input {
  width: 250px !important;
  margin-right: 20px;
}

body {
  background-color: #F8F8F8;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}