.Register-Main {
    display: flex;
    flex-direction: column;
}

.Register-Main .Switch {
    display: flex;
    align-self: flex-end;
    margin-right: 10px;
    transform: translateY(9vh);
    gap: 10px;
}

.Register-Main .Switch button {
    height: 32px;
    padding-inline: 20px;
    background: #b69de6;
    border: 1px solid #b69de6;
    border-radius: 5px 5px 0 0;
    border-bottom: none;
    cursor: pointer;
    transition: all .3s ease;
    color: antiquewhite;
}

.Register .Register-Main .Switch .Button-Focused {
    height: 25px;
    margin-top: 7px;
}

.Register-Main .Switch button:hover {
    transform: scale(1.05);
    color: #fff;
}

.Register-Form {
    margin-top: 9vh;
    border: 1.5px solid #fff;
    height: 52vh;
    width: 35vw;
    border-radius: 5px;
    box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, .12);
}

.Register .Register-Form {
    padding: 25px;
}

.Register .Register-Form .Title .State {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Register .Register-Form .Title p {
    font-size: 0.8rem;
    padding-inline-start: 3px;
    padding-block-start: 3px;
}

.Register .Register-Form .Title span {
    color: rgba(182, 157, 230);
}

.Register .Register-Form .Credentials {
    padding-block-start: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Register .Register-Form .Credentials img {
    height: 22px;
    border-radius: 0;
}

.Register .Register-Form .Credentials .Username,
.Register .Register-Form .Credentials .Password,
.Register .Register-Form .Credentials .Confirm-Password {
    padding-inline-start: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.Register .Register-Form .Credentials input {
    font-size: 16px;
    padding: 20px 0px;
    height: 56px;
    border: none;
    width: 80%;
    transition: all 1s ease;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
}

.Register .Register-Form .Credentials input:focus {
    outline: 0;
}

.Register .Register-Form .Credentials .Submit {
    align-self: flex-end;
    padding-inline-end: 11%;
    padding-block-start: 15px;
}

.Register .Register-Form .Credentials .Submit a {
    padding-inline-end: 20px;
    font-size: 0.75rem;
    color: #000;
    transition: all .3s ease;
}

.Register .Register-Form .Credentials .Submit a:hover {
    color: rgba(182, 157, 230);
}

.Register .Register-Form .Credentials .Submit button {
    height: 40px;
    width: 90px;
    border-radius: 24px;
    background-color: #b69de6;
    border: none;
    transition: all .3s ease;
    color: antiquewhite;
}

.Register .Register-Form .Credentials .Submit button:hover {
    transform: translateY(-3px);
}