.header {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.modalComponent {
    overflow: auto;
    /* margin: 10px */
}

.DayComponent {
    border: 1px solid #b69de6;
    background-color: #b69de6;
    border-radius: 5px;
    margin-inline: 5px;
    margin-block: 2px;
    min-height: 25%;
    height: 25%;
    text-wrap: nowrap;
    overflow-x: hidden;
    padding: 5px 0;
    overflow-y: hidden;
    flex: 1;
    text-align: center;
}

.DayComponent:hover {
    cursor: pointer;
    transform: scale(1.03);
    filter: brightness(0.95);
}

.tagIncluded {
    background-color: #6d4bac;
}