.header {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.modalComponent {
    overflow: auto;
    /* margin: 10px */
}

.DayComponent {
    border:none;
    background-color: #D4EBE7;
    border-radius: 5px;
    margin-inline: 5px;
    margin-block: 5px;
    min-height: 25%;
    height: 25%;
    text-wrap: nowrap;
    overflow-x: hidden;
    padding: 5px 0;
    overflow-y: hidden;
    flex: 1;
    text-align: center;
    color: #016a66 !important;

}

.DayComponent:hover {
    cursor: pointer;
    transform: scale(1.03);
    filter: brightness(0.95);
}

.tagIncluded {
    background-color: #016a66;
    color: white !important
}