.eventListItem {
    display: flex;
    border: 1px solid black;
    height: 30%;
    gap: 10px;
    padding: 5px;
    margin: 5px;
    border-radius: 8px;
    overflow: auto;
    position: relative;
}

.eventListItem img {
    max-width: 50%;
    border-radius: 8px;
    margin-right: 10px
}

.eventData h2 {
    margin-bottom: 10px
}

.controlButton {
    cursor: pointer;
}

.eventListContent {
    display: flex;
    /* background-color: aqua; */
    justify-content: stretch;
    width: 100%
}

.controlContainer {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    /* background-color: aqua */
}