#fadeIn {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

#fadeOut {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    pointer-events: none;
}

/* Big thanks to ChatGPT */
.Register,
.Login {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.Register-Main,
.Login-Main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
