.search-result-container {
    position: fixed;
    background: rgb(255, 255, 255);
    z-index: 999;
    display: flex;
    flex-direction: column;
    width: 250px;
    /* align-items: center; */
    justify-content: center;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #b69de6;
}

.search-result-container:hover {
    cursor: pointer;
}