.Searchbar-Result {
    position: fixed;
    background: rgba(255, 255, 255, 0.8);
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}