.Month .Month-View {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 5px;
    flex: 1;
    padding-inline: 10px;
}

.Month .Month-Navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.Month .Month-Navbar .Buttons {
    display: flex;
    gap: 10px;
}

.Month .Month-Navbar .Buttons button {
    height: 40px;
    width: 120px;
    border: 1px solid #b69de6;
    background-color: #b69de6;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}

.Month .Month-Navbar .Buttons button:hover {
    transform: scale(1.03);
    filter: brightness(0.95);
}

.Month .Month-Navbar .Searchbar {
    height: 40px;
}

.day {
    height: 130px !important;
    overflow: auto;
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
}

.day.other-month {
    background-color: #e0e0e0;
    cursor: not-allowed;
}

.rightContainer {
    height: calc(100vh - 20px);
    display: flex;
    flex-direction: column
}

/* try this */
@media (max-width: 1000px) {
    .month-view {
        grid-template-columns: repeat(4, 1fr);
    }
}