.month-view {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 5px;
    flex: 1;
    padding-inline: 10px;
}

.day {
    height: 130px !important;
    overflow: auto;
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
}

.day.other-month {
    background-color: #e0e0e0;
    cursor: not-allowed;
}

.rightContainer {
    height: calc(100vh - 20px);
    display: flex;
    flex-direction: column
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

/* try this */
@media (max-width: 1000px) {
    .month-view {
        grid-template-columns: repeat(4, 1fr);
    }
}

.nav-btn-Container{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.button-container{
    display: flex;
    /* justify-content: space-between; */
}