.tag {
  display: inline-block;
  background-color: #3498db;
  color: #fff;
  padding: 4px 8px;
  margin: 4px;
  border-radius: 4px;
}

.tag button {
  background-color: transparent;
  border: none;
  color: #fff;
  margin-left: 4px;
  cursor: pointer;
}
