.MemoryBox {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 1px solid black;
    height: 195px;
    width: 100%;
    border-radius: 10px;
    padding: 5px;
}

.MemoryBox .MemoryBox-Item {
    border: 1px solid #007bff;
    background-color: #007bff;
    color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
}

.MemoryBox .MemoryBox-Item:hover {
    transform: scale(1.03);
    background-color: #006bde;
}

.MemoryBox .MemoryBox-Item p {
    font-size: 0.9rem;
    font-weight: bold;
}

.MemoryBox .MemoryBox-Item span {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.7rem;
    max-width: 65%;
}