.Header {
    display: flex;
    justify-content: space-between;
    padding: 5px
}

.EventList {
    width: 90%;
    height: 100%;
    margin: 10px
}

.button {
    width: 50%;
    height: 30px;
    background-color: #b69de6;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}