.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
}

.logo img {
  width: 130px;
  height: 100px;
  padding-top: 50px;
  padding-right: 10px;
}

.search img {
  height: 17px;
  width: 17px;
  left: 20px;
  top: 4px;
  position: relative;
}

input {
  padding-left: 30px;
}

h2 {
  font-size: xx-large;
}