/* FoundEntry.css */
.found-entry-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(22, 83, 83, 0.5); /* Teal background with transparency */
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.found-entry {
  background-color: #e0e0e0; /* Light gray background */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  max-width: 80%;
  text-align: left; /* Align text to the left */
  position: relative;
}

.found-entry .close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px; /* Larger "X" icon */
  cursor: pointer;
  background: none;
  border: none;
  color: #ff4500; /* Orange-red color */
  border-radius: 50%;
  z-index: 1001;
  transition: color 0.3s;
}

.found-entry .close-button:hover {
  background-color: #007bff; /* Blue color when hovered over */
  color: #fff;
}

.found-entry h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #2e8b57; /* Sea green color */
}

.found-entry .entry-text {
  font-size: 18px; /* Slightly larger text */
  margin: 10px 0;
  color: #333; /* Dark gray color */
}

.found-entry p {
  font-size: 16px;
  margin-top: 10px;
  color: #555; /* Medium gray color */
}

.found-entry p:last-child {
  margin-bottom: 0;
}

.found-entry-label {
  font-weight: bold; /* Make the label text bold */
}

.date {
  font-weight: bold;
  color: #14242a; /* Deep pink color */
}
