.eventListItem {
    display: flex;
    border: 1px solid black;
    height: 30%;
    gap: 10px;
    padding: 5px;
    margin: 5px;
    border-radius: 8px;
    overflow: auto;
    position: relative
}

img {
    height: 100%;
    max-width: 50%;
    border-radius: 8px
}

.eventData h2 {
    margin-bottom: 10px
}
.deleteButton {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    cursor: pointer;
}