.Navbar {
    position: relative;
    min-width: 20%;
    max-width: 20%;
    border: 2px solid black;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
}

#fadeIn {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

#fadeOut {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    pointer-events: none;
}

.Account,
.Dashboard {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    padding: 15px;
    transition: opacity 0.5s ease-in-out;
    z-index: 1;
}
